@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 1440px;
  height: 820px;
  background: url(img/bg.png);
  background-color: #f7f1df;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 0;
}
.left_n p {
  color: #644b2c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.right_n ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
}
li a {
  color: #644b2c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.banner {
  padding: 100px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
}
.text_b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.text_b p:nth-child(1) {
  width: 480px;
  color: #dc2428;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.text_b p:nth-child(2) {
  width: 537px;
  color: #2e2e2e;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
button {
  display: inline-flex;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #dc2428;
  border: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.carts {
  width: 1162px;
  height: 156px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: absolute;
  bottom:30px;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart h1 {
  color: #111;
  font-family: DM Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.cart p {
  color: #2e2e2e;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.gr_line {
  width: 1px;
  height: 80px;
  background-color: #7e623c;
}
.section2 {
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  background: #e4d0b4;
}
